.styles-page{
    .styles-main-area{
        height: 100%;
        background: @theme-color2;
        text-align: center;
        display: flex;
        flex-direction: column;
        .online-ides{
            display: flex;
            textarea{
                width: 100%;
                min-height: 15.625rem;
                overflow: scroll;
                margin: auto;
                
            }
        }
        iframe{
            flex: 1;
        }
        
    }

}